body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top {
    display: flex;
    margin-top: 5%;
}

.middle {
    display: flex;
    margin-top: 5%;
    background-color: rgb(246, 243, 243);
    background-image: url(/images/shapes/7.png);
    background-repeat: no-repeat;
    position: left;
}

.box {
    display: flex;
    margin-top: 5%;
    height: 100%
}

h1 {
    font-size: 50px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.box-part {
    width: 50%;
    height: 400px;
    margin-left: 5%;
    padding: 3%;
    margin-right: 5%;
    border-radius: 40px;
    box-shadow: 10px 10px 40px gray;
}

.box-part img {
    width: 100%;
    height: 60%;
}

.half-width img {
    width: 80%;
}

.orange {
    color: orangered;
}

.btn {
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: aliceblue;
    font-weight: 700;
}

.reciepe {
    text-align: center;
    margin-top: 5%;
}

.about {
    display: flex;
    justify-content: space-around;
    margin: 10%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
}

.element h1 {
    padding-bottom: 0;
    margin-bottom: 0
}

.element p {
    margin-top: 0;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5% 15%;
}